language: ruby
rvm:
 - 2.7.1
cache:
  - bundler
  - yarn
services:
  - postgresql
before_script:
  - psql -c "CREATE USER e_vote WITH PASSWORD 'e_vote_password';" -U postgres
  - psql -c 'create role e_vote with superuser;' -U postgres
  - psql -c "CREATE DATABASE e_vote_test;" -U postgres
  - bundle install --jobs=3 --retry=3
  - yarn
  - bundle exec rails db:create
  - bundle exec rails db:schema:load
script:
  - bundle exec rspec
